x-common-settings: &common-settings
  build:
    context: .
    dockerfile: ./Dockerfile
    target: release
  depends_on:
    db:
      condition: service_healthy
  environment:
    - "ALLOWED_HOSTS=*"
    - "DATABASE_URL=postgres://postgres@db/postgres"
    - "DJANGO_DEBUG=true"
  restart: on-failure
  volumes:
    - .:/src:cache

services:

  db:
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "postgres"]
      interval: 10s
      timeout: 3s
      retries: 3
    image: "pgautoupgrade/pgautoupgrade:17-alpine"
    init: true
    user: postgres
    volumes:
      - .:/src:cache
      - postgres-data:/var/lib/postgresql/data/

  utility:
    <<: *common-settings
    command: [
      "uv",
      "run",
      "-m",
      "manage",
      "--version"
    ]
    tty: true

  web:
    <<: *common-settings
    command: [
      "uv",
      "run",
      "-m",
      "manage",
      "devserver",
      "--skip-checks",
      "0.0.0.0:8000"
    ]
    entrypoint: ["/src/compose-entrypoint.sh"]
    init: true
    ports:
      - "8000:8000"
    tty: true

volumes:
  postgres-data:
