name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests with Python

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          path: ./src/github.com/${{ github.repository }}

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install "django~=3.0.0"

      - name: Create a project based on our settings
        run: |
          django-admin startproject \
              --extension=ini,py,yml \
              --template=./src/github.com/${{ github.repository }}/ \
              test_project

      - name: Docker - Build image from starter project
        run: |
          cd test_project
          docker-compose pull
          docker-compose build

      - name: Docker - Test generated starter project
        run: |
          cd test_project
          docker-compose run --rm web pytest
